/* Current Preset CSS */

body {
    margin: 0; /* Removes the user agent's default margin */
    padding: 0; /* Optional, for consistency */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
  }
  
  